<footer>
    <div class="container-fluid">
        <div class="row">
    <div class="col-xl-6 col-lg col-md-6">

        <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright:
             <a href="mailto:thirumoorthi1vp@gmail.com"> thirumoorthi1vp@gmail.com</a>
        </div>
    </div>
    <div class="col-xl-6 col-lg col-md-6 footer-menu">            
        <ul> 
                <li><a href="projects"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Projects</a></li>
                <li><a href="about"><i class="fa fa-angle-double-right" aria-hidden="true"></i> About</a></li>
            </ul>
            <ul>
                <li><a href="projects"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Blog</a></li>
                <li><a href="about"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Contact</a></li>
            </ul>
        
    </div>
</div>
</div>
</footer>
